### use # to comment out the configure item

################ Status ################
mode=interactive_predict
# string: train/interactive_predict/genTriple

################ Datasets(Input/Output) ################
datasets_fold=data/mydataset
train_file=traindata.json
dev_file=traindata.json
test_file=traindata.json

################ Dir ################
log_dir=logs
checkpoints_dir=models/mydataset

################ Labeling Scheme ################

class_name=[父本,母本,表型,环境]
decision_threshold=0.01

################ Training Settings ################
max_sequence_length=400

epoch=1000
batch_size=1

dropout=0.4
learning_rate=0.00001

is_early_stop=True
patient=100
# unnecessary if is_early_stop=False